
<div class="container">
    <div class="row">
        {{#each results}}

                <div id={{this.name}} class="col"></div>

            <script >
                var selector{{this.name}} = document.getElementById("{{this.name}}");
                fetch("{{this.url}}")
                .then(response=>response.json() )
                .then(
                    data => {
                        //console.log( data );
                        selector{{this.name}}.innerHTML = `
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top"  src=${data.sprites.front_shiny} alt="Card image cap for {{this.name}}" >
                                <div class="card-body">
                                    <h5 class="card-title">{{this.name}}</h5>
                                    <p class="card-text">Some info about {{this.name}}.</p>
                                    <a href="/poke/{{this.name}}" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        `;
                });
            </script>

        {{/each}}

    </div>
</div>